.arrowImg {
    width: 24px;
}

.line {
    border: 2px solid var(--light-green);
    color: white;
    background-color: var(--light-green);
    min-height: 70px;
    border-radius: 17px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-bottom: 25px;
    padding: 0px 10px;
    transition: 0.5s;
}
.line:hover{
    box-shadow: var(--orange) 0px 2px 8px 0px;
}
.link{
    width:60%;
}

.firstCell{
    text-align: center;
    width: 25%;
}
.secondCell{
    width: 50%;
    text-align: center;
}
.img{
    width: 60px;
    margin: 20px;
}

