.orderTitle {
    font-size: 19px;
    color: var(--white);
    padding: 18px 33px;
}

.mainWrapper {
    background-color: var(--white);
    min-height: 70px;
    border-radius: 0px 0px 38px 38px;
}

.mainWrapperTitle {
    font-weight: 700;
    font-size: 15px;
    color: white;
    padding: 10px 0px 10px 10px;
    max-width: 135px;
    width: 40%;
}

.mainWrapperSubtitle {
    width: 80%;
    font-size: 15px;
    color: white;
    padding: 10px 10px;
    margin-left: 10px;
}

.block {
    display: flex;
}
