.wrapper {
    cursor: pointer;
    background-color: var(--green);
    border-radius: 17px;
    width: 27%;
    margin: 30px;
    padding: 15px 30px;
    min-width: 325px;
}

.orange {
    background-color: var(--orange);
}

.green {
    background-color: var(--green);
}

.darkGreen {
    background-color: var(--dark-green);
}
