.wrapperCard {
    display: flex;
    flex-direction: column;
    width: 70%;
    /* max-width: 1270px; */
    background-color: var(--green);
    padding: 55px 85px;
    border-radius: 17px;
    margin-top: 40px;
    justify-content: center;
}

.title {
    margin-top: 60px;
    margin-bottom: 25px;
    text-align: center;
    color: var(--orange);
}

.wrapperPagination {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 20px;
}

.main {
    box-sizing: border-box;
    border-radius: 38px;

    display: flex;
    margin-left: 248px;
    min-height: 100vh;
}

.wrapper {
    margin: 25px 20px 20px 20px;

    border-radius: 38px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonImg {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.buttonWrapper {
    margin-top: 20px;
    width: 50%;
}

.fieldsWrapper {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.buttonsWrapper {
    display: flex;
    width: 100%;
    max-width: 1270px;
    justify-content: flex-end;
    margin-right: 130px;
}

.firstWrapper {
    display: flex;
}

.textBlockWrapper {
    width: 50%;
}

.secondTextBlockWrapper {
    display: flex;
}

.imgWrapper {
    width: 50%;
    display: flex;
    justify-content: center;
}

.firstContainer {
    width: 50%;
    margin-right: 10px;
}
.secondContainer {
    width: 50%;
}

.field {
    margin-bottom: 20px;
}

.inputWrapper {
    width: 100%;
    margin-right: 10px;
}
