.wrapper {
    cursor: pointer;
    background-color: var(--green);
    border-radius: 17px;
    width: 27%;
    margin: 30px;
    padding-bottom: 10px;
    min-width: 340px;
    display: flex;
    align-items: center;
}

.headerWrapper {
    display: flex;
}

.orderTitle {
    font-size: 19px;
    color: var(--white);
    padding: 18px 33px;
}

.mainWrapper {
    background-color: var(--white);
    min-height: 70px;
    border-radius: 0px 0px 38px 38px;
    margin-left: 20px;
}

.img {
    min-width: 140px;
    max-height: 130px;
    margin-top: 15px;
    margin-left: 11px;
    margin-bottom: 13px;
}

.textBlockWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
