
.title {
    margin-top: 95px;
    margin-bottom: 25px;
    text-align: center;
    color: var(--orange);

}

.wrapperPagination {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 20px;
}

.main {
    box-sizing: border-box;
    border-radius: 38px;
    display: flex;
    margin-left: 248px;
    min-height: 100vh;
}

.wrapper {
    margin: 25px 20px 20px 20px;
    border-radius: 38px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
