.wrapperCard {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: var(--dark-green);
    padding: 55px 85px;
    border-radius: 17px;
    margin-top: 40px;
    justify-content: space-evenly;
    min-height: 600px;
}

.inputWrapper {
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondTitle {
    text-align: center;
    margin-top: 30px;
    font-size: 26px;
    margin-bottom: 30px;
}

.text {
    text-align: center;
    font-size: 26px;
    margin-bottom: 30px;
}

.taskWrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.field {
    margin-left: 30px;
    width: 100%;
}

.fieldPicker{
    margin-left: 10px;
    width: 100%;
}

.visible {
    opacity: 0;
    position: absolute;
}

.fieldVisible {
    margin-left: 20px;
    width: 100%;
    position: relative;
}

.additionWrapper{
    width: 80%;
    display: flex;
}
.textareaWrapper{
    display: flex;
    height: 100px;
    width: 55% ; 
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.animalsWrapper {
    width: 60%;
}
.buttonsWrapper {
    display: flex;
    width: 100%;
    max-width: 1270px;
    justify-content: flex-end;
    margin-right: 130px;
    position: relative;
}

.buttonImg {
    cursor: pointer;
    background-color: transparent;
    border: none;
}
